langchain
langchain-community
python-dotenv
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_ollama
langsmith
langchain_groq
langchain_core
langchain-google-genai
ipykernel
langgraph
wikipedia
arxiv
duckduckgo-search
langchain_tavily